%%%-----------------------------------------------------------------------------
%%% Copyright (C) 2018 Cursor Insight Ltd.
%%%
%%% Licensed under the Apache License, Version 2.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%% http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%-----------------------------------------------------------------------------

% Basic runtime environment options
{erl_opts, [debug_info, warnings_as_errors]}.

{minimum_otp_vsn, "21.0"}.

% Dependencies
{deps, [cowboy]}.

% Default application configurations for development environment.
{relx, [{release, {hcr_demo, "0.2.0"}, [hcr_demo]},
        {sys_config, "./config/dev.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

% Profiles
{profiles,
  [
   % Mock profile
   {mock, [{erl_opts, [{'d', 'MOCK'}]}]},

   % Production configurations
   {prod, [{relx, [{sys_config, "./config/prod.config"},
                   {dev_mode, false},
                   {include_erts, true}]}]}
  ]}.

% Checks performed by `xref' as described here:
% http://erlang.org/doc/man/xref.html#analyze-2
%
% `exports_not_used' check produces a lot of false positives on calls
% incorporating `erlang:apply/3' and co.  Uncomment it wisely.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               %exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

% Checks performed by `dialyzer' as described here:
% http://erlang.org/doc/man/dialyzer.html
%
% `all_deps' strategy determines to include all nested applications in the
% generated PLT file.
{dialyzer, [{warnings, [unknown,
                        unmatched_returns]},
            {plt_apps, all_deps}]}.

% Enable code coverage in `eunit' and `CT' tests.
{cover_enabled, true}.
