%%%-----------------------------------------------------------------------------
%%% Copyright (C) 2018 Cursor Insight
%%%
%%% All rights reserved.
%%%-----------------------------------------------------------------------------

% Basic runtime environment options
{erl_opts, [debug_info, warnings_as_errors]}.

{minimum_otp_vsn, "21.0"}.

% Dependencies
{deps, []}.

% Checks performed by `xref' as described here:
% http://erlang.org/doc/man/xref.html#analyze-2
%
% `exports_not_used' check produces a lot of false positives on calls
% incorporating `erlang:apply/3' and co.  Uncomment it wisely.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               %exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

% Checks performed by `dialyzer' as described here:
% http://erlang.org/doc/man/dialyzer.html
%
% `all_deps' strategy determines to include all nested applications in the
% generated PLT file.
{dialyzer, [{warnings, [unknown,
                        unmatched_returns]},
            {plt_apps, all_deps}]}.

% Enable code coverage in `eunit' and `CT' tests.
{cover_enabled, true}.
